[Desktop Entry]
Name=YAAA
Comment=Yet Another AI Agent
Exec=bash --login -c /usr/bin/yaaa
Icon=yaaa
Type=Application
Categories=TerminalEmulator;System;
Terminal=false
StartupNotify=true
StartupWMClass=yaaa
